header {
  background-color: #FFFFFF;
}

.logoPrincipal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menuPlano {
  display: flex;
  justify-content: flex-end;
}

li{
  list-style:none;
}

body {
  background: #FAAE27;
  font-family: 'Source Sans Pro', sans-serif;
}

/*#disfruta {
   background-image: url(../img/taxi.jpg);
}*/

.cuadroAma {
  background: #FAAE27;
  color: #FFFFFF;
  padding: 2%;
  margin-top: 15%;
}

#descarga {
  background: #FCB425;
}

.textoDescarga {
  font-size: 25px;
}

.lasSecciones {
  color: #FFFFFF;
  padding: 3% 7% 0% 7%;
}

/*Pruebas de color*/
.verde{
  background-color: #FAAE27;
}

.darEspacio {
  background: #FAAE27;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: thin;
  padding: 3% 0% 3% 3%;
  margin: 5% 0% 5% 0%;
}

.cuadroNeg {
    background-color: #000000;
    opacity: .7;
    color: #FFFFFF;
    padding: 2%;
    margin-top: 10%;
}

.btn-default_2 {
  background-color: #FAAE27;
}

.form-control {
  color: ##FFFFFF;
  background-color: #FAAE27;
  border-radius: 10%;
}

footer {
  color: #FFFFFF;
}
